/* Styles for Project 6 */

body {
    background-color: rosybrown;
    color: whitesmoke;
    font-family: benton-modern-display, serif;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    padding: 5%;
}

h1 {
    background-image: imageurl(https://unsplash.com/photos/qYreP9QOdrk)
    text-align: center;
    color: floralwhite;
    font-size: 60px;
    font-weight: 900;
    padding-bottom: 5%;
    padding-top: 5%;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}
h4 {
    font-size: 27px;
}

p {
    font-weight: 200;
        
        
        
}
img {
    max-width: 250px;
}

ul {
    margin-bottom: 2rem;
}


.map {
    
}

