/* Styles for Project 6 */

body {
    background-color: #967D69;
    color: white;
    font-family: benton-modern-display, serif;
    font-style: normal;
    font-size: 27px;
    letter-spacing: 3px;
    line-height: 1.5;
    text-align: left;
    padding-left: 7%;
    padding-right: 7%
   
}

h1 {
    color: white;
    font-size: 90px;
    font-weight: 900;
    color: #fff; 
    text-align: center;
    Padding: 0;
    padding-top: 6%;
    padding-bottom: 3%;
    border: 2pt;
}

h2 {
    font-size: 55px;
    font-weight: 800;
    line-height: 1;
  
}

h3 {
    font-size: 40px;
    font-weight: 700;
     line-height: 1;
    padding-top: 0%;
    
}
h4 {
    
    font-size: 32px;
    font-weight: 650;
    line-height: 1;
    padding-right: 10%;
    text-align: right;
    
}

p {
    font-size: 32px;
    line-height: 1;
    font-weight: 10;
       
        
        
        
}
img {
    max-width: 300px;
    padding-bottom: 3%;
}

ul {
    margin-bottom: 2rem;
}




.row {
    display: flex;
}

.column {
    flex: 75%;
    padding: 10px;
}

.heading {
    
    align-content: right;
    padding-left: 0%
}


li {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    "product product product product"
    "s m l .";
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 1rem;
  width: 100%;
}



@media screen and (min-width: 680px) {
  li {
    grid-template-areas:
      "product s m l";
  }

.row {
    display: 50%;
}

.column {
    flex: 75%;
    padding: 10px;
}
    
.product {
  background: none;
  grid-area: product;
}
.small {
  background: none;
  grid-area: s;
}
.medium {
  background:none;
  grid-area: m;
}
.large {
  background: none;
  grid-area: l;
}
ul {
  width: 100%;
}
   
body {
    background-color: #967D69;
    color: white;
    font-family: benton-modern-display, serif;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.5;
    text-align: left;
    padding-left: 7%;
    padding-right: 7%
   
}

h1 {
    color: white;
    font-size: 70px;
    font-weight: 900;
    color: #fff; 
    text-align: center;
    Padding: 0;
    padding-top: 6%;
    padding-bottom: 3%;
    border: 2pt;
}

h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1;
  
}

h3 {
    font-size: 30px;
    font-weight: 700;
     line-height: 1;
    padding-top: 0%;
    
}
h4 {
    
    font-size: 20px;
    font-weight: 650;
    line-height: 1;
    padding-right: 10%;
    text-align: right;
    
}

p {
    font-size: 20px;
    line-height: 1;
    font-weight: 10;
       
        
        
        
}
img {
    max-width: 150px;
    padding-bottom: 3%;
}

ul {
    margin-bottom: 2rem;
}

    
    
    
    
}


